div.user-info.module-inner(id="#{user._id}")
  img(src='#{user.avatar}', width="65px").img-rounded.avatar
  div.user-info-text
   strong Hi 
    span#nickname #{user.username}
   br
   small Use the search to any video you like to add in the playlist
  div.clear